In [7]:
import pandas as pd
from bs4 import BeautifulSoup
from urllib.request import urlopen
import pandas as pd
import re
import requests

In [100]:
# Trouver les villes:
path = "https://lespoir.jimdo.com/2015/03/05/classement-des-plus-grandes-villes-de-france-source-insee/"

# Now we get html code from page
soup = BeautifulSoup(urlopen(path), 'html.parser')

# We extract values and labels for the ones that are in bold in the html code 
extracted_td = soup.tbody.find_all("td", {"class": "xl65"})
cities = []
for i in range (1, 400, 3):
    cities.append(extracted_td[i].text.strip())
cities

['Paris',
 'Marseille',
 'Lyon',
 'Toulouse',
 'Nice',
 'Nantes',
 'Strasbourg',
 'Montpellier',
 'Bordeaux',
 'Lille',
 'Rennes',
 'Reims',
 'Le Havre',
 'Saint-Étienne',
 'Toulon',
 'Grenoble',
 'Dijon',
 'Angers',
 'Nîmes',
 'Villeurbanne',
 'Saint-Denis',
 'Le Mans',
 'Clermont-Ferrand',
 'Aix-en-Provence',
 'Brest',
 'Limoges',
 'Tours',
 'Amiens',
 'Perpignan',
 'Metz',
 'Boulogne-Billancourt',
 'Besançon',
 'Orléans',
 'Rouen',
 'Mulhouse',
 'Caen',
 'Saint-Denis',
 'Nancy',
 'Argenteuil',
 'Saint-Paul',
 'Montreuil',
 'Roubaix',
 'Tourcoing',
 'Dunkerque',
 'Nanterre',
 'Créteil',
 'Avignon',
 'Vitry-sur-Seine',
 'Poitiers',
 'Courbevoie',
 'Fort-de-France',
 'Versailles',
 'Colombes',
 'Asnières-sur-Seine',
 'Aulnay-sous-Bois',
 'Saint-Pierre',
 'Rueil-Malmaison',
 'Pau',
 'Aubervilliers',
 'Champigny-sur-Marne',
 'Le Tampon',
 'Antibes',
 'Saint-Maur-des-Fossés',
 'La Rochelle',
 'Cannes',
 'Béziers',
 'Calais',
 'Saint-Nazaire',
 'Colmar',
 'Drancy',
 'Bourges',
 'Mérignac',
 'Ajaccio',
 'Issy-les-Moulineaux',
 'Levallois-Perret',
 'La Seyne-sur-Mer',
 'Quimper',
 'Noisy-le-Grand',
 'Valence',
 "Villeneuve-d'Ascq",
 'Neuilly-sur-Seine',
 'Antony',
 'Vénissieux',
 'Cergy',
 'Troyes',
 'Clichy',
 'Pessac',
 'Les Abymes',
 'Ivry-sur-Seine',
 'Chambéry',
 'Lorient',
 'Niort',
 'Sarcelles',
 'Montauban',
 'Villejuif',
 'Saint-Quentin',
 'Hyères',
 'Cayenne',
 'Épinay-sur-Seine',
 'Saint-André',
 'Beauvais',
 'Maisons-Alfort',
 'Cholet',
 'Meaux',
 'Chelles',
 'Pantin',
 'Fontenay-sous-Bois',
 'La Roche-sur-Yon',
 'Bondy',
 'Vannes',
 'Saint-Louis',
 'Fréjus',
 'Arles',
 'Clamart',
 'Évry',
 'Le Blanc-Mesnil',
 'Narbonne',
 'Sartrouville',
 'Grasse',
 'Annecy',
 'Laval',
 'Belfort',
 'Vincennes',
 'Charleville-Mézières',
 'Évreux',
 'Sevran',
 'Albi',
 'Montrouge',
 'Bobigny',
 'Martigues',
 'Saint-Ouen',
 'Brive-la-Gaillarde',
 'Suresnes']

In [28]:
# Distance Paris Lyon:
depart = "Paris"
arrivee = "Lyon"
url = "https://maps.googleapis.com/maps/api/distancematrix/json?units=imperial&origins=" + depart + "&destinations=" + arrivee

response_cities = requests.get(url=url).json()#, auth = (username, password)).json()
distance = response_cities["rows"]
print(distance[0]['elements'][0]['distance']['value'], "mètres")

464588 mètres

In [71]:
def calculate_distance_between_cities(start, end):
    url = "https://maps.googleapis.com/maps/api/distancematrix/json?units=imperial&origins=" + start + "&destinations=" + end
    response_cities = requests.get(url=url).json()
    distance = response_cities["rows"][0]['elements'][0]['distance']['value']
    return distance

In [104]:
# Dataframe
df = pd.DataFrame()
df['Distance_Ville'] = cities[:10]
df

  Distance_Ville
0          Paris
1      Marseille
2           Lyon
3       Toulouse
4           Nice
5         Nantes
6     Strasbourg
7    Montpellier
8       Bordeaux
9          Lille

In [106]:
for city in cities[:10]:
    list_distance_one_city = []
    for city2 in cities[:10]:
        list_distance_one_city.append(calculate_distance_between_cities(city, city2))
    df[city] = list_distance_one_city
df

,Distance_Ville,Paris,Marseille,Lyon,Toulouse,Nice,Nantes,Strasbourg,Montpellier,Bordeaux,Lille
0,Paris,0,774987,466033,678897,932067,384535,490230,747998,590485,239818
1,Marseille,776442,0,314191,403677,204591,986092,799554,168944,645721,1002452
2,Lyon,464588,313764,0,537748,470845,684551,488664,303015,555450,690597
3,Toulouse,679215,403226,537330,0,560306,586014,970963,242302,245643,909552
4,Nice,933491,206569,471240,560726,0,1143141,784276,325993,802770,1159501
5,Nantes,384569,985758,686269,584967,1142839,0,865271,824835,353412,614906
6,Strasbourg,491678,798460,487680,968788,784927,865809,0,787711,968342,525123
7,Montpellier,747619,170462,304567,242629,327543,825044,789929,0,484673,992827
8,Bordeaux,584305,645467,557097,244676,802547,346917,968915,484543,0,814642
9,Lille,228177,999908,690955,897141,1156989,602779,524637,989159,808729,0

In [107]:
df.to_csv("Distance_top_100_cities.csv")